<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/base.css" />
    <link rel="stylesheet" href="../static/css/componentes.css" />
    <link rel="icon" href="../static/assets/favicon.ico" type="image/x-icon" />

    <!-- Iconos -->
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />

    <title>POTTOKA</title>
  </head>
  
  <body>

    <!--Caja Principal -->
    <header>
      <div id="menu" class="menu">
        <i class="fal fa-bars"></i>
      </div>

      <!-- Logo -->
      <div class="logo"><img src="../static/assets/Logo_principal.svg" alt="" /></div>

      <!-- Menu principal -->
      <nav>
        <ul>
          <li>
            <a href="">
              <i class="fal fa-home"></i>
              Inicio
            </a>
          </li>
          <li>
            <a href="">
              <i class="fal fa-user"></i>
              Mi perfil
            </a>
          </li>
          <li>
            <a href="">
              <i class="fal fa-cog"></i>
              Configuración
            </a>
          </li>
        </ul>
      </nav>

            <!-- Busqueda menu hamburguesa -->
      <form class="busqueda">
        <i class="icono fal fa-search"></i>
        <input type="search" placeholder="Buscar" />
      </form>
    </aside>

      <!-- Usuario -->
      <div class="nombreUsuario">
        <img src="../static/assets/Avatar.jpg" alt="" />
        <h4>Liliana Jimenez</h4>
      </div>
      <div class="space"></div>
    </header>

    <!-- menú responsive -->
    <aside id="menuMovil">
      <div class="cerrarCanvas">
        <i id="cerrarMenu" class="fal fa-times"></i>
      </div>

      <!-- Usuario responsive -->
      <div class="nombreUsuario">
        <img src="../static/assets/Avatar.jpg" alt="" />
        <h4>Liliana Jimenez</h4>
      </div>
      <hr />
      <!-- Menú responsive -->
      <nav>
        <ul>
          <li>
            <a href="">
              <i class="fal fa-home"></i>
              Inicio
            </a>
          </li>
          <li>
            <a href="">
              <i class="fal fa-user"></i>
              Mi perfil
            </a>
          </li>
          <li>
            <a href="">
              <i class="fal fa-cog"></i>
              Configuración
            </a>
          </li>
        </ul>
      </nav>
      <hr />
      <!-- Busqueda menu hamburguesa -->
      <form class="busqueda">
        <i class="icono fal fa-search"></i>
        <input type="search" placeholder="Buscar" />
      </form>
    </aside>

    <!-- Contenido -->
    <main>
      <div class="cardFeed">
        <!-- titulo del card -->
        <div class="titulo">
          <div class="usuario">
            <img src="../static/assets/Avatar.jpg" alt="" />
            <h4>Liliana Jimenez</h4>
          </div>
          <div class="fechaPublicacion">Hace 15 minutos</div>
        </div>
    
        <!-- imagen del card -->
        <div class="imagen">
          <img src="../static/assets/publicacion_1.jpg" alt="Publicacion Titulo" />
        </div>
    
        <!-- descripcion del card -->
        <div class="descripcion">
          <div class="tituloFoto">Desayuno nutritivo</div>
          <div class="descripcionFoto">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.
          </div>
        </div>
    
        <div class="divider"></div>
    
        <div class="accionesComentario">
          <button class="flat">3 Comentarios</button>
          <button id="comentar" class="flat">Comentar</button>
        </div>
    
        <!-- los comentarios de la publicacion (agregar active para animación) -->
        <div id="comentarios" class="comentarios">
          <!-- aqui va el listado de comentarios  -->
          <div class="nuevoComentario">
            <form action="">
              <input type="text" placeholder="Escribe un comentario" />
              <button class="button">Publicar</button>
            </form>
          </div>
        </div>
      </div>

      <!-- Segundo -->
      <div class="cardFeed">
        <!-- titulo del card -->
        <div class="titulo">
          <div class="usuario">
            <img src="../static/assets/Avatar.jpg" alt="" />
            <h4>Liliana Jimenez</h4>
          </div>
          <div class="fechaPublicacion">Hace 45 minutos</div>
        </div>
    
        <!-- imagen del card -->
        <div class="imagen">
          <img src="../static/assets/publicacion_1.jpg" alt="Publicacion Titulo" />
        </div>
    
        <!-- descripcion del card -->
        <div class="descripcion">
          <div class="tituloFoto">Desayuno nutritivo</div>
          <div class="descripcionFoto">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.
          </div>
        </div>
    
        <div class="divider"></div>
    
        <div class="accionesComentario">
          <button class="flat">3 Comentarios</button>
          <button id="comentar" class="flat">Comentar</button>
        </div>
    
        <!-- los comentarios de la publicacion (agregar active para animación) -->
        <div id="comentarios" class="comentarios">
          <!-- aqui va el listado de comentarios  -->
          <div class="nuevoComentario">
            <form action="">
              <input type="text" placeholder="Escribe un comentario" />
              <button class="button">Publicar</button>
            </form>
          </div>
        </div>
      </div>
    </main>
    <!-- Script del menú hamburguesa -->
    <script src="../static/js/base.js"></script>

    <!-- Script del feed card -->
    <script src="../static/js/cardFeed.js"></script>
  </body>
</html>
