{% extends "bases.html" %}

{% block title%}
Registro
{% endblock %}

{% block content %} 
    <!--Caja Principal -->
    <div class="containerPrincipal">
      <!--Aqui la imagen con el logo -->
      <div class="imagenLateral">
        <div class="fondoImagenRegistro"></div>
        <div class="fondoColor"></div>
        <img class="logoBlanco" src="../static/assets/Logo_blanco.svg" alt="Logo" />
      </div>

      <!--Aqui va el contenido del login -->
      <div class="contenido">
        <!-- Logo -->
        <div class="logoPrincipal">
          <img src="../static/assets/Logo_principal.svg" alt="Logo" />
        </div>
        
        <!-- Titulos -->
        <div class="textoInicio">
          <h1>Registrate</h1>
          <h4>
            ¿Ya tienes cuenta con Pottoka?
            <a href="/login">!Inicia sesión!</a>
          </h4>
        </div>

        <!-- formularios -->
        
        <form class="formularios" action="" method="post">
          {{ frm.hidden_tag() }}
          <p>
            
            {{ frm.name }}
            {% for error in frm.name.errors %}
                <div>
                    {{ error }}
                </div>
            {% endfor %}
          </p>

          <p>
          
          {{ frm.email }}
          {% for error in frm.email.errors %}
              <div>
                  {{ error }}
              </div>
          {% endfor %}
        </p>
          
        <p>
          
          {{ frm.telefono }}
          {% for error in frm.telefono.errors %}
              <div>
                  {{ error }}
              </div>
          {% endfor %}
        </p>

        <p>
        
          {{ frm.password }}
          {% for error in frm.password.errors %}
              <div>
                  {{ error }}
              </div>
          {% endfor %}
        </p> 

        <p> 
          {{ frm.username }}
          {% for error in frm.username.errors %}
              <div>
                  {{ error }}
              </div>
          {% endfor %}
        </p>
          
          <button type="submit" >
            {{ frm.registrar }}
          </button>
        </form>
{% endblock %}

        <!-- politicas de privacidad -->
        <div class="enlacesInicio">
          <p>
            *Al registrarte, aceptas nuestros Términos de Uso y recibirás
            correos electrónicos y , actualizaciones de Pottoka; al reconocer
            que leiste nuestra
            <a href="/politicas-de-privacidad"> Política de Privacidad</a>
          </p>
        </div>
      </div>
    </div>
